<template>
  <div class="proj-wrapper">
    <div class="field-img">
      <img :src="image"/>
    </div>
    <div class="teaser">
      <div class="icon">
        <i class="fas fa-clock fa-2x"></i>
        <span class="date">{{ date }}</span>
      </div>
      <div class="summary">
        <h3>{{ proj }}</h3>
        <p>{{ summary }}</p>
        <a class="view" target="_blank" :href="url">{{ button }}</a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'portfolio',
  props: ['image', 'date', 'proj', 'summary', 'url', 'button']
}
</script>

<style lang="scss" scoped>
  //@import '@/sass/styles.scss';
</style>