<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
     <meta name="author" content="Nelly Moseki, Junior Frontend Developer">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Nelly Moseki</title>
  </head>
  <body>
    <!-- Navigation -->
    <nav>
      <ul>
        <li><a href="#aboutme">About Me</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
      </ul>
      <a href="https://www.nellymoseki.co.za">
        <img alt="logo" src="/assets/logo.png" class="logo"/>
      </a>
      <ul>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#wod">WOD</a></li>
      </ul>
    </nav>

    <!-- Burger Menu -->
    <div class="burger">
      <span></span>
      <span></span>
    </div>


    <div id="app">
        <!--Footer  -->
    </div>
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>

