<template>
  <div id="homepage">
    <div class="aboutme">
      <h1>{{ title }}</h1> 
      <h2>{{ subtitle }}</h2>
      <div class="text-wrapper">
        <p>{{ intro }}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'homepage',
  props: {
    title: String,
    subtitle: String
  },
  data(){
    return{
      intro: "I go by the name of Nelly Moseki. An artist by heart and a developer by day!! While Frontend Development is a skill that I've always aspired to posses, dancing on the other hand is a gift and a talent I was blessed with. I'm adventureous but take both my job very seriously!! I love performing and I love building complex and fun sites. I enjoy watching movies, the oldest and the latest is the same for me. I love spending time with my boyfriend and love dancing with him. His an artist too ;-). I love travelling and interior deco. I f I had a super power it would be to be spiderwoman. My favourite city in our country is CPT but I'll always choose JHB to live in because I'm very fast paced. I believe that if you put your mind to it , whatever IT is, you can do IT and make IT happen but you must apply DISCIPLINE, CONSISTENCY AND PASSION!!!"
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

*{
  border: 0;
  padding: 0;
  margin: 0;
}
//@import '@/sass/styles.scss';
</style>
