<template>
  <div id="app">
    <!-- Section: Introduction -->
    <Homepage title="Nelly Moseki" subtitle="Hi there!!!"/>

    <!-- Section: Porfolio -->
    <section class="portfolio">
      <Portfolio 
        v-for="project in projects" 
        :key="project.id"
        :image="project.image"
        :date="project.date" 
        :proj="project.proj" 
        :summary="project.summary" 
        :button="project.button"
        :url="project.url">
      </Portfolio>
    </section>
  </div>
</template>

<script>
import Homepage from './components/Homepage.vue';
import Portfolio from './components/Portfolio/Portfolio.vue';

export default {
  name: 'app',
  components: {
    Homepage,
    Portfolio
  },
  data() {
    return {
      projects: [
        {
          image: require('./assets/portfolio/connectiv.png'),
          date: 'November 2015',
          proj: 'Connectiv',
          url: 'http://www.connectiv.ch',
          button: 'Explore',
          summary: 'Build in D7, Connectiv was my first drupal project to go live!'
        },
        {
          image: require('./assets/portfolio/malawi.png'),
          date: 'January 2016',
          proj: 'Malawi',
          button: 'Explore',
          url: 'http://www.catchmentguidelines.org.mw',
          summary: 'Build in D7, Malawi was my 2nd drupal project to go live!'
        },
        {
          image: require('./assets/portfolio/openstreets.png'),
          date: 'January 2016',
          proj: 'Openstreets',
          button: 'Explore',
          url: 'http://www.openstreets.co.za',
          summary: 'Build in D8, Openstreets was my first D8 project to go live!'
        },
        {
          image: require('./assets/portfolio/localsearch.png'),
          date: 'March 2016',
          proj: 'LocalSearch',
          button: 'Explore',
          url: 'http://werbung.localsearch.ch',
          summary: 'LocalSearch was built in D8! First experience with paragraphs, epic!'
        },
        {
          image: require('./assets/portfolio/supastrikas.png'),
          date: 'April 2016',
          proj: 'SupaStrikas',
          button: 'Explore',
          url: 'http://www.supastrikas.co.za',
          summary: 'SupaStrikas was built in D8! Had alot of fun doing the frontend development.'
        },
        {
          image: require('./assets/portfolio/drupalcamp_cpt.png'),
          date: 'May 2016',
          proj: 'Drupal Camp CPT 2016',
          button: 'Explore',
          url: 'http://capetown2016.drupalcamp.co.za',
          summary: 'DrupalCamp2016 was built in D8! Had fun with the responsive design here.'
        },
        {
          image: require('./assets/portfolio/lutheran.png'),
          date: 'June 2016',
          proj: 'Lutheran Assembly',
          button: 'Explore',
          url: 'http://www.lwfassembly.org',
          summary: 'Lutheran was built in D8! Had fun site building here.'
        },
        {
          image: require('./assets/portfolio/bartgeier.png'),
          date: 'July 2016',
          proj: 'Bartgeier.ch',
          button: 'Explore',
          url: 'http://bartgeier.ch',
          summary: 'Bartgeier.ch was built in D8! Had fun site building here & Frontend Development.'
        },
        {
          image: require('./assets/portfolio/barry-callebaut.png'),
          date: 'July 2016',
          proj: 'Barry Callebaut',
          button: 'Explore',
          url: 'http://annual-report-2015-16.barry-callebaut.com',
          summary: 'Barry Callebaut was built in D8! Great site building here & Frontend Development.'
        },
        {
          image: require('./assets/portfolio/jd-village-school.png'),
          date: 'November 2016',
          proj: 'JD Village School',
          button: 'Explore',
          url: 'http://www.villageschoolsnamibia.com',
          summary: 'JD Village School was built in D8! Great site building here.'
        },
        {
          image: require('./assets/portfolio/proedhouse.png'),
          date: 'December 2016',
          proj: 'Pro Ed House',
          button: 'Explore',
          url: 'http://proedhouse.co.za',
          summary: 'Pro Ed House was built in D8! Good site building & Frontend Development here.'
        },
        {
          image: require('./assets/portfolio/design_tact.png'),
          date: 'February 2017',
          proj: 'Design Tact',
          button: 'Explore',
          url: 'http://www.designtact.com',
          summary: 'Design Tact was built in D8! Good site building & Frontend Development here.'
        },
        {
          image: require('./assets/portfolio/profemina.png'),
          date: 'June 2017',
          proj: 'Profemina',
          button: 'Explore',
          url: 'http://profemina.org',
          summary: 'Design Tact was built in D8! Good site building & Frontend Development here.'
        },
        {
          image: require('./assets/portfolio/onboarding_handbook.png'),
          date: 'July 2017',
          proj: 'Onboarding Handbook',
          button: 'Explore',
          url: 'http://onboarding.amazee.com',
          summary: 'Amazee Labs onboarding Handbook website was built in D8! Good site building & Frontend Development here. (internal project)'
        }
      ]
    }
  },
  methods: {
    skipNav() {
      var anchor = $('a[href^="#"]').offset().top;
      $('html,body').scrollTop(anchor);
    }
  }
}
</script>


<style lang="scss">
  @import '@/sass/styles.scss';
</style>